body{
    font-family:  sans-serif,arial,tahoma;
    padding: 0;
    margin: 0;
    background: rgb(65, 64, 64);
}

.principal{
    background: rgb(37, 37, 37);
    color:black;
    height: 500px;
    background-position: right center;
    background-size: cover;
    margin:100px 400px 0px 400px;
    border: 2px solid rgb(43, 42, 42);
    border-radius: 10px;
}
.cadastro-titulo{
    text-align: center;
    font-size: 15px;
    color: rgba(200, 206, 214, 0.74);
   
}
#cadastro-titulo-maior{ 
    color:#00dae260;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(102, 209, 191, 0.384);
    box-shadow: 0 3px 3px -3px rgba(255, 255, 255, 0.26);
    margin-bottom: 100px;
}

.input-cadastro input{
    height: 30px;
    line-height: 30px;
    background-color: rgba(90, 90, 90, 0);
    width: 300px;
    margin-left: 30px;
    padding: 3px 1em 3px 1em;
    border-radius: 3px;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(0, 181, 252, 0.4);
    box-shadow: 0 3px 3px -3px rgba(255, 255, 255, 0.26);
    color: rgba(200, 200, 200, 0.6);
    text-align: center;
    font-size: 16px;
}

.entrar-cadastro {
    padding: 10px;
    margin: 80px 0px 0px 170px;
    margin-left: 70px;
    text-align: center;
    background: #01a4aa;
    color: white;
    font-size: 20px;
    width: 200px;
    border-radius: 4px;
    letter-spacing: 1px;
}

.ja-tenho{
    padding: 10px;
    text-align: center;
    color: rgba(200, 206, 214, 0.74);
    font-size: 15px;
}
.ja-tenho a{
    text-decoration: none;
    color:#01a4aa;
}
.ja-tenho a:hover{
    font-size:16px;
}