/*formatação corpo*/
body{
    font-family: tahoma, arial, sans-serif;
    padding: 0;
    margin: 0;
    background:rgb(43, 41, 41);
   
}
/*formatação da div principal*/
#principal{
    height: 900px;
    width: 400px;
    background-position: right center;
    background-size: cover;
    margin: 200px, 200px, 200px, 200px;
}
/*borda do menu*/
.header-topo{
    position: relative;
    height: 50px;
    background: rgb(32, 32, 32);
}

.header-menu{
    position: absolute; 
    top: 0;
    right: 0;
    height: 100%;
}
.header-menu ul{
    margin: 0;
    padding:0 ;
}
.header-menu li{

    list-style: none;   
    display: inline-block;
    margin: 8px 15px 0 0;
    padding: 6px;
    
}


/*fonte do menu iniciar*/
.header-menu a{
    text-decoration: none;
    color: #2093979a;
    text-transform: uppercase;
    
}
.header-menu a:hover{
    color:#00d9e2;
}







.principal{
    background: rgb(32, 32, 32);
    color:black;
    height: 500px;
    background-position: right center;
    background-size: cover;
    margin:100px 400px 500px 500px;
    border: 2px solid  rgba(102, 209, 191, 0.384);
    border-radius: 10px;
}

#cadastro-titulo-maior{
    color:#00dae260;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(102, 209, 191, 0.384);
    box-shadow: 0 3px 3px -3px rgba(255, 255, 255, 0.26);
    margin-bottom: 40px;
}



.cadastro-titulo h5{
    
    padding-left: 60px;
    font-size: 15px;
    color:rgba(200, 206, 214, 0.74);
    
}
.cadastro-titulo input{
    height: 30px;
    line-height: 30px;
    background-color: rgba(90, 90, 90, 0);
    width: 100px;
    margin-left: 0px;
    padding: 2px 1em 3px 1em;
    border-radius: 3px;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(0, 181, 252, 0.4);
    box-shadow: 0 3px 3px -3px rgba(255, 255, 255, 0.26);
    color: white;
    text-align: center;
    font-size: 14px;
}

.ddb{
    color:rgba(200, 206, 214, 0.74);
}


.ddb li{    

    list-style: none;   
    display: inline-block;
    margin: 8px 15px 0 0;
    padding-right: 40px;
}
.ddb button:hover{
    color:  #00d9e2;
}

.ddb-estilo{
    height: 20px;
    line-height: 30px;
    background-color: rgba(90, 90, 90, 0);
    width: 100px;
    margin-left: 0px;
    padding: 2px 1em 3px 1em;
    border-radius: 3px;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(0, 181, 252, 0.4);
    box-shadow: 0 3px 3px -3px rgba(255, 255, 255, 0.26);
    color: white;
    text-align: center;
    font-size: 14px;

}
.ddb-estilo:hover{
    color:#00d9e2;
}

#ddb1{
    padding-left: 20px;
    line-height: 5px;
}
#ddb3{
    padding-left: 20px;
}


.trans{
    padding-top: 40px;
}

.trans li{
    list-style: none;
    color:rgba(200, 206, 214, 0.74);
    padding-top: 10px;

}


.trans-estilo{
    height: 20px;
    line-height: 30px;
    background-color: rgba(90, 90, 90, 0);
    width: 100px;
    margin-left: 0px;
    padding: 2px 1em 3px 1em;
    border-radius: 3px;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(0, 181, 252, 0.4);
    box-shadow: 0 3px 3px -3px rgba(255, 255, 255, 0.26);
    color: white;
    text-align: center;
    font-size: 14px;
}

.trans{
    padding-left: 22px;
}

.finalizar{
    padding: 10px;
    margin: 20px 0px 0px 190px;
    text-align: center;
    background: #01a4aa ;
    color:white;
    font-size: 20px;
    width: 150px;
    border-radius: 4px;
    letter-spacing: 1px;
    border: none;
}



/*configuração rodape*/
.rodape{
    height: 100px;
    color:#00d9e2;
    font-size: 14px;
    text-align: center;
    /*sombra na fonte*/
    text-shadow: 2px 2px 2px black;
    background: rgb(32, 32, 32);
    line-height: 10px;
    padding: 10px;
}
/*link radape*/
.rodape a{
    color:#00d9e2;
    text-decoration: none;  
    background: rgb(32, 32, 32);
}



/*tamanhos imagens*/
.logotipo{
    height: 30px;
    width: 130px;
    margin-left: 50px;
    margin-top: 10px;
}


#logo-footer{
    height: 50px;
    margin:;
}