body{
    font-family:  sans-serif,arial,tahoma;
    padding: 0;
    margin: 0;
    background: rgb(65, 64, 64);
}
.principal{
    background: rgb(40, 37, 37);
    color:black;
    height: 900px;
    background-position: right center;
    background-size: cover;
    margin:100px 100px 100px 100px;
    border: 2px solid rgb(43, 42, 42);
    border-radius: 10px;
}
.cadastro-titulo{
    text-align: center;
    font-size: 20px;
    color: rgba(200, 206, 214, 0.74);
   
}
#cadastro-titulo-maior{ 
    color:#00dae260;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(102, 209, 191, 0.384);
    box-shadow: 0 3px 3px -3px rgba(255, 255, 255, 0.26);
    margin-bottom: 18px;
    font-size: 23px;
}
.input-cadastro input {
    height: 30px;
    line-height: 30px;
    background-color: rgba(90, 90, 90, 0);
    width: 70%;
    padding: 4px 1em 4px 1em;
    margin: 5px 100px 5px 320px;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(0, 181, 252, 0.4);
    box-shadow: 0 3px 3px -3px rgba(255, 255, 255, 0.26);
    color: rgba(200, 200, 200, 0.904);
    text-align: center;
    font-size: 16px;
}

   
titulo{
    color: white;
    padding: 0px 0 30px 320px;
    padding: 0px 0 30px 290px;
    font-size: 40px;
}

.entrar-cadastro{
    padding: 10px;
    margin: 60px 0px 0px 360px;
    text-align: center;
    background: #01a4aa ;
    color:white;
    font-size: 20px;
    width: 200px;
    border-radius: 4px;
    letter-spacing: 1px;
}

fundo {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    color: white;
    background-position: 30% 45%;
    background-size: cover;
}