﻿fundo {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    color: white;
    background-position: 30% 45%;
    background-size: cover;
}
    fundo img {
    width: 100%; /* com isso imagem ocupará toda a largura da tela. Se colocarmos height: 100% também, a imagem irá distorcer */
    position: absolute;
}

bodye {
    background-repeat: no-repeat;
    background-size: cover;
}

