﻿@model CriptoFinanceiraWeb.Models.LoginModel

@{
    ViewBag.Title = "Login";
}
<head>
    <title> Cripto Financeira </title>
    <meta charset="utf-8">
    <meta name="author" content="wiliam">
    <meta name="description" content="descrição bacanuda">
    <meta name="keywords" content="html5, tecnologia">

    <!--Chamar o arquicvo css para a página-->
    @Styles.Render("~/Content/cpf.css")


</head>
<body>
    <div class="principal">
        <section>
            <article>
                <form action="Logar" method="get">
                    <div class="cadastro">
                        <div class="cadastro-titulo">
                            <h2 id="cadastro-titulo-maior">Login</h2>
                            <h5>Preencha seu CPF ou CNPJ</h5>
                        </div>
                        <div class="input-cadastro">
                            <!--CAIXA DE TEXTO PARA CPF-->
                            <input type="text" name="cpf" placeholder="CPF ou CNPJ" maxlength="15">
                        </div>

                        <div class="input-cadastro">
                            <!--CAIXA DE TEXTO PARA CPF-->
                            <input type="password" name="senha" placeholder="Senha" maxlength="15" style="margin: 20px 00px 0px 30px;">
                        </div>
                        <div>
                            <p style=" color: red; margin: 00px 0px 0px 90px">@ViewBag.erroLogin</p>
                        </div>
                        <button name="Logar" class="entrar-cadastro" type="submit">
                            Continuar
                        </button>
                        <div class="ja-tenho">
                            esqueceu a senha?<a href="#"> clique aqui.</a>
                        </div>
                    </form>
            </article>
        </section>
    </div>
</body>

</html>