﻿@{
    ViewBag.Title = "About";
}

@Styles.Render("~/Content/dados.css")


<body>
    <div class="principal">
        <section>
            <article>
                <div class="Sobre Nós">
                    
                        <div class="cadastro-titulo">
                            <h2 id="cadastro-titulo-maior">Sobre Nós</h2>
                        </div>
                        <div>

                            <h2 style=" color:cadetblue; font-size: 50px; margin: 50px 0px 0px 0px;">
                                Nascemos para
                                criar a nova
                                economia digital
                            </h2>
                            <p style=" color:aliceblue; margin: 50px 0px 0px 0px;">
                                Estamos entre as 25 exchanges mais confiáveis do mundo em 2020, somos a maior plataforma de criptomoedas e ativos digitais da América Latina e temos a confiança de mais de 2 milhões de clientes.

                            </p>
                            <p style="color:aliceblue;">
                                Encarando os desafios do mercado financeiro com ousadia, somos uma plataforma com a inovação escrita no nosso código. Seja no ambiente de trabalho ou seja criando novas oportunidades, acreditamos que uma visão diferente muda tudo.

                                Foi com ela que aliamos tecnologia e segurança, facilitando o seu acesso à ativos digitais e criptomoedas.
                            </p>
                            <p style="color:aliceblue;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas blandit tellus eu tellus scelerisque laoreet. Morbi vulputate nunc diam, in dignissim ipsum placerat at. Nulla pretium metus a dictum posuere. Nullam malesuada, felis sed tempus egestas, magna orci scelerisque magna, quis blandit leo leo quis ipsum. Nullam fringilla lorem at orci malesuada, et lacinia libero auctor. Cras et nisi mollis, porttitor augue et, ultrices turpis. Praesent at feugiat ligula. Nullam convallis, elit sed hendrerit faucibus, sapien elit vulputate libero, eget lacinia ipsum lacus at lacus. Aliquam tempor justo mollis, egestas metus quis, finibus tellus. Phasellus eros nunc, tincidunt in neque et, tempor sagittis diam. Aliquam eget faucibus metus. Pellentesque consectetur, velit ut rhoncus fringilla, massa elit consequat eros, a cursus ipsum justo nec sapien.
                            </p>
                            <p style="color:aliceblue;">
                                Nulla vitae rutrum diam. Nunc et turpis nec eros venenatis dictum. In hac habitasse platea dictumst. Curabitur tristique sit amet turpis vel sollicitudin. Sed semper fringilla tortor at egestas. In ac mi vitae ex tristique tempor. Sed mauris magna, placerat in tincidunt sed, imperdiet et velit. Morbi tempus libero vitae laoreet vulputate. Suspendisse pulvinar risus tellus, in interdum nisl mattis ut. Morbi rutrum ante eu justo dictum, nec blandit justo fermentum. Donec ac lorem diam. Sed rhoncus accumsan massa, dapibus feugiat odio pulvinar id. In semper aliquet maximus. Integer eleifend, erat sit amet euismod fringilla, diam mauris placerat urna, quis accumsan sem tortor ac justo.
                            </p>
                            <p style="color:aliceblue;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas blandit tellus eu tellus scelerisque laoreet. Morbi vulputate nunc diam, in dignissim ipsum placerat at. Nulla pretium metus a dictum posuere. Nullam malesuada, felis sed tempus egestas, magna orci scelerisque magna, quis blandit leo leo quis ipsum. Nullam fringilla lorem at orci malesuada, et lacinia libero auctor. Cras et nisi mollis, porttitor augue et, ultrices turpis. Praesent at feugiat ligula. Nullam convallis, elit sed hendrerit faucibus, sapien elit vulputate libero, eget lacinia ipsum lacus at lacus. Aliquam tempor justo mollis, egestas metus quis, finibus tellus. Phasellus eros nunc, tincidunt in neque et, tempor sagittis diam. Aliquam eget faucibus metus. Pellentesque consectetur, velit ut rhoncus fringilla, massa elit consequat eros, a cursus ipsum justo nec sapien.
                            </p>
                            <p style="color:aliceblue;">
                                Nulla vitae rutrum diam. Nunc et turpis nec eros venenatis dictum. In hac habitasse platea dictumst. Curabitur tristique sit amet turpis vel sollicitudin. Sed semper fringilla tortor at egestas. In ac mi vitae ex tristique tempor. Sed mauris magna, placerat in tincidunt sed, imperdiet et velit. Morbi tempus libero vitae laoreet vulputate. Suspendisse pulvinar risus tellus, in interdum nisl mattis ut. Morbi rutrum ante eu justo dictum, nec blandit justo fermentum. Donec ac lorem diam. Sed rhoncus accumsan massa, dapibus feugiat odio pulvinar id. In semper aliquet maximus. Integer eleifend, erat sit amet euismod fringilla, diam mauris placerat urna, quis accumsan sem tortor ac justo.
                            </p>
                            <p style="color:aliceblue;">
                                Suspendisse potenti. Nullam finibus risus purus, venenatis volutpat libero venenatis eget. Sed quis ornare nulla. Vivamus sodales venenatis augue at scelerisque. Maecenas ante felis, iaculis id tellus vel, placerat ullamcorper nisl.
                            </p>
                        </div>

                </div>
            </article>
        </section>
</body>