﻿@model CriptoFinanceiraWeb.Models.CadastroModel


@{

    ViewBag.Title = "Cadastro";
}
<head>
    <title> Cripto Financeira </title>
    <meta charset="utf-8">
    <meta name="author" content="wiliam">
    <meta name="description" content="descrição bacanuda">
    <meta name="keywords" content="html5, tecnologia">

    <!--Chamar o arquicvo css para a página-->
    @Styles.Render("~/Content/cpf.css")


</head>
<body>
    <div class="principal">
            <section>
                <article>
                    <div class="cadastro">
                        <form action="Prosseguir" method="post">
                            <div class="cadastro-titulo">
                                <h2 id="cadastro-titulo-maior">Cadastro</h2>
                                <h5>Preencha seu CPF ou CNPJ</h5>
                            </div>
                            <div class="input-cadastro">
                                <!--CAIXA DE TEXTO PARA CPF-->
                                <input type="text" name="cpf" placeholder="CPF ou CNPJ" maxlength="15">

                            </div>

                            <button name="Prosseguir" type="submit" class="entrar-cadastro">
                                Prosseguir
                            </button>
                        </form>
                        <div class="ja-tenho">
                            Já tem uma conta?<a href="#"> Login</a>
                        </div>
                    </div>
                </article>
            </section>
    </div>
</body>
