﻿@{
    ViewBag.Title = "Inicio";
}

<body background="~/Imagens/fundoIndex2.png" class="fundo">
    <div class="active">

        <h1 style="color: mediumaquamarine; font-size: 60px; margin: 100px 0px 0px 0px;">
            Comprar e vender
        </h1>
        <h1 class="titulo" style="color: mediumaquamarine; font-size: 60px;">
            Bitcoin é na
        </h1>
        <h1 class="titulo" style=" color: mediumaquamarine; font-size: 60px;">
            <strong>Cripto!</strong>
        </h1> 
        <p><a class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("About", "Home")'">Saiba Mais &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4" style="margin: 200px 0px 0px 0px;">
            <h2 style="color: mediumaquamarine;">Cadastre-se Agora</h2>
            <p style="color: mediumaquamarine;">
                Efetue seu cadastro agora mesmo, é de graça!
            <p><a class="btn btn-default" onclick="location.href='@Url.Action("Cadastro", "Cadastro")'">Quero me cadastrar &raquo;</a></p>
        </div>
        <div class="col-md-4" style="margin: 200px 0px 0px 0px;">
            <h2 style="color: mediumaquamarine;">Já possui uma conta?</h2>
            <p style="color: mediumaquamarine;">Faça seu log in e gerencie seus investimentos!</p>
            <p><a class="btn btn-default" onclick="location.href='@Url.Action("Login", "Login")'">Efetuar Log in &raquo;</a></p>
        </div>
        <div class="col-md-4" style="margin: 200px 0px 0px 0px;">
            <h2 style="color: mediumaquamarine;">O que são criptomoedas?</h2>
            <p style="color: mediumaquamarine;">Nós facilitamos sua vida!</p>
            <p><a class="btn btn-default" href="https://www.google.com/search?q=criptomoedas&oq=criptomoedas&aqs=chrome..69i57j0l7.7058j0j7&sourceid=chrome&ie=UTF-8">Saiba mais &raquo;</a></p>
        </div>
    </div>
</body>