﻿@model CriptoFinanceiraWeb.Models.ClientesModel
@{
    ViewBag.Title = "Depositar";
}

@Styles.Render("~/Content/depositar.css")

<body>

        <div class="principal" style="margin: 100px 00px 40px 70px;">
            <article>
                <div class="cadastro">

                    <div class="cadastro-titulo">
                        <h2 id="cadastro-titulo-maior">Depositar na Carteira Virtual</h2>

                    </div>
                    <h1 style="margin: 00px 00px 40px 440px; color:cadetblue"> Seus Dados</h1>
                    <nav class="ddb" style="margin: 00px 00px 40px 170px;">
                        <ul>
                            <li id="ddb1">
                                Banco:   <h2 class="ddb-estilo"
                                                type="text"
                                                maxlength="3">
                                149
                                </h2>
                            </li>
                            <li id="ddb2">
                                Conta: <h2 class="ddb-estilo"
                                              type="text"
                                              maxlength="8">
                                23454-4
                                </h2>
                            </li>
                            <li id="ddb3">
                                Agência: <h2 class="ddb-estilo"
                                                type="text"
                                                 maxlength="4">
                                0001
                                </h2>
                                
                            </li>
                        </ul>
                    </nav>




                    <nav class="trans" style="margin: 00px 00px 40px 0px;">
                        <ul>
                            <li>
                                Utilize os dados bancários acima para realizar DOC, TED, transferência eletrônica ou PIX.
                                Para depositar via PIX, encontre a função no aplicativo do seu banco e utilize o QR Code.

                            </li>
                            <li>
                                Dependendo do procedimento de depósito, os prazos de aprovação podem variar.
                                TEDs e transferências levam em média 1 dia útil.
                                Já a modalidade DOC pode levar até 2 dias úteis.
                            </li>
                        </ul>
                    </nav>


                    <nav></nav>
=








                </div>

            </article>
        </div>
    </div>

</body>

