﻿@model CriptoFinanceiraWeb.Models.ClientesModel
@{
    ViewBag.Title = "Depositar";
}

@Styles.Render("~/Content/depositar.css")

<body>

        <div class="principal" style="margin: 100px 00px 40px 70px;">
            <article>
                <div class="cadastro">

                    <div class="cadastro-titulo">
                        <h2 id="cadastro-titulo-maior">Transferir</h2>
                        <h5 style="margin: 00px 00px 40px 340px;">
                            Código de segurança: <input class="cod-seg"
                                                        type="password"
                                                        value="cod-seg">
                        </h5>

                    </div>





                    <nav class="ddb" style="margin: 00px 00px 40px 170px;">
                        <ul>
                            <li id="ddb1">
                                Banco:   <input class="ddb-estilo"
                                                type="text"
                                                maxlength="3">
                            </li>
                            <li id="ddb2">
                                Conta: <input class="ddb-estilo"
                                              type="text"
                                              maxlength="8">
                            </li>
                            <li id="ddb3">
                                Agência: <input class="ddb-estilo"
                                                type="text"
                                                 maxlength="4">
                            </li>
                        </ul>
                    </nav>




                    <nav class="trans" style="margin: 00px 00px 40px 340px;">
                        <ul>
                            <li>
                                Valor da transferência: <input class="trans-estilo"
                                                               type="text"
                                                               
                            </li>
                            <li>
                                Descrição da transferência: <input class="trans-estilo"
                                                                   type="text"
                                                                   value="" maxlength="30">
                            </li>
                        </ul>
                    </nav>


                    <nav></nav>

                    <input class="finalizar"
                           type="button"
                           value="Transferir"
                           style="margin: 00px 00px 40px 450px;">








                </div>

            </article>
        </div>
    </div>

</body>

