﻿@model CriptoFinanceiraWeb.Models.ClientesModel
@{
    ViewBag.Title = "Vender"; 
}

@Styles.Render("~/Content/depositar.css")
<body>
        <div class="principal" style="margin: 100px 00px 40px 70px;">
            <article>
                <div class="cadastro">
                    <form action="VenderMoeda" method="post">
                        <div class="cadastro-titulo">
                            <h2 id="cadastro-titulo-maior">Vender Criptomoedas</h2>
                            <h5 style="margin: 0px 00px 0px 370px;">Selecione a Criptomoeda:</h5>
                        </div>


                        <select name="select" style="margin: 10px 00px 0px 370px; width:290px">
                            <option>1-Auroracoin (AUR) 26.96</option>
                            <option>10-Emercoin (EMC) 0.23</option>
                            <option>11-EOS.IO (EOS) 16.39</option>
                            <option>12-Ethereum Classic (ETC) 27.07</option>
                            <option>13-Ethereum (ETH) 1965.10</option>
                            <option>14-Gridcoin (GRC) 0.03</option>
                            <option>15-Litecoin (LTC) 255.27</option>
                            <option>16-Lunes (LUNES) 0.02</option>
                            <option>17-Mastercoin (MSC) 0.10</option>
                            <option>18-MazaCoin(MZC) 0.05</option>
                            <option>19-Monero (XMR) 518.62</option>
                            <option>2-Bitcoin Cash (BCH) 1265.43</option>
                            <option>20-Namecoin (NMC) 5.22</option>
                            <option>21-Nano[37] (NANO) 1.37</option>
                            <option>22-NEM (XEM) 3.45</option>
                            <option>23-NEO (NEO) 112.48</option>
                            <option>24-Niobio Cash (NBR) 0.05</option>
                            <option>25-Niobium Coin (NBC) 0.05</option>
                            <option>26-Nxt (NXT) 5.00</option>
                            <option>27-Peercoin (PPC) 6.95</option>
                            <option>28-PotCoin (POT) 86.47</option>
                            <option>29-Primecoin (XPM) 18.83</option>
                            <option>3-Bitcoin (BTC) 59678.85</option>
                            <option>30-Ripple (XRP) 1.35</option>
                            <option>31-Stellar (XLM) 4.11</option>
                            <option>32-Tether (USDT) 5.57</option>
                            <option>33-Titcoin (TIT) 0.02</option>
                            <option>34-Verge (XVG) 1.68</option>
                            <option>35-Vertcoin (VTC) 6.42</option>
                            <option>36-Zcash (ZEC) 3.04</option>
                            <option>4-BlackCoin (BC, BLK) 0.20</option>
                            <option>5-CloakCoin (CLOAK[38]) 0.82</option>
                            <option>6-Dash (DASH) 3.81</option>
                            <option>7-DigitalNote (XDN) 23324.02</option>
                            <option>8-Dogecoin (DOGE) 0.01</option>
                            <option>9-E-Coins (ECS) 44.73</option>
                        </select>



                        <h5 style="margin: 10px 10px 0px 420px; color:lightgrey">Insira a quantidade desejada:</h5>
                        <nav class="valores" style="margin: 10px 10px 0px 400px; color:lightgrey">

                            <h5 id="ddb1" name="quantidade">
                                Quantidade:   <input class="ddb-estilo"
                                                     type="number"
                                                     maxlength="3">
                            </h5>

                        </nav>

                        <h5 style="margin: 50px 10px 0px 80px; color:lightgrey">Sua solicitação de venda seguirá para nossos corretores que irão inserir a intenção de venda no ledger da criptomoeda escolhida, assim que o ativo for vendido o valor será inserido na carteira virtual</h5>
                        <h5 style="margin: 50px 10px 0px 80px; color:lightgreen">@ViewBag.mensagemVenda</h5>
                        <h5 style="margin: 50px 10px 0px 80px; color:lightcoral">@ViewBag.mensagemErroVenda</h5>
                        <div>
                            <button class="finalizar"
                                    type="button"
                                    style="margin: 50px 00px 80px 435px;">
                                Finalizar
                            </button>
                    </form>
                    </div>
                    </nav>

                </div>

            </article>
        </div>
    </div>

    </div>
</body>