﻿@model CriptoFinanceiraWeb.Models.CadastroModel

@{
    ViewBag.Title = "Dados";
}

<head>
    <title> Cripto Financeira </title>
    <meta charset="utf-8">

    <!--Chamar o arquicvo css para a página-->
    @Styles.Render("~/Content/dados.css")


</head>
<body>
    <div class="principal">
        <section>
            <article>
                <form action="Cadastrar" method="post">
                    <div class="Acessar">

                        <div class="cadastro-titulo">
                            <h2 id="cadastro-titulo-maior">Cadastrar conta</h2>
                            <h5>   Dados</h5>
                        </div>
                        <div class="input-cadastro">
                            <!--CAIXA DE TEXTO PARA CPF-->
                            <p style="margin: 0px 0px 0px 270px; color: whitesmoke">@ViewBag.mensagemCadastro</p>
                            <input type="text" name="nome" placeholder="Nome completo" maxlength=""> <br>
                            <input type="text" name="sexo" placeholder="Sexo" maxlength=""> <br>
                            <input type="text" name="data_nascimento" placeholder="Data de nascimento" maxlength=""> <br>
                            <input type="text" name="nome_mae" placeholder="Nome da mãe" maxlength=""> <br>
                            <input type="text" name="cpf" placeholder="CPF" maxlength="15"> <br>
                            <input type="text" name="cep" placeholder="CEP" maxlength="9"> <br>
                            <input type="text" name="endereco" placeholder="Endereço" maxlength="">
                            <input type="text" name="numero" placeholder="Número" maxlength=""> <br>
                            <input type="text" name="complemento" placeholder="Complemento" maxlength=""> <br>
                            <input type="text" name="bairro" placeholder="Bairro" maxlength=""> <br>
                            <input type="text" name="cidade" placeholder="Cidade" maxlength="">
                            <input type="text" name="estado" placeholder="Estado" maxlength="25"> <br>
                            <input type="text" name="pais" placeholder="País" maxlength="25"> <br>
                            <input type="text" name="telefone" placeholder="Telefone" maxlength=""> <br>
                            <input type="text" name="celular" placeholder="Celular" maxlength=""> <br>
                            <input type="text" name="email" placeholder="E-mail" maxlength=""> <br>
                            <input type="text" name="confirmar_email" placeholder="Confirmar e-mail" maxlength=""> <br>
                            <input type="text" name="senha" placeholder="Senha" maxlength=""> <br>
                            <input type="text" name="confirmar_senha" placeholder="Confirmar senha" maxlength=""> <br>
                        </div>

                        <button class="entrar-cadastro" type="submit">
                            Cadastrar
                        </button>
                    </form>
            </article>
        </section>
    </div>
</body>
